pandas==1.4.3
torch==1.12.0
black==22.6.0
pillow==9.2.0
numpy==1.23.1
scikit-learn==1.1.1
torchvision==0.13.0
tqdm==4.64.0

# for plotting results only 
# it can be deleted for any other purpose
plotly==5.9.0 
kaleido==0.2.1